# Template to override dev values

[python_exporter]
author = Ian Maguire < mr.scalability@gmail.com >
app_name = Python Exporter
api_version = {{ python_exporter_version }}
license = Apache License 2.0

[alertmanager]
alertmanager_host = http://10.0.0.1:9093

[options]
#auth_required = False