[RES7-x86_64]
name=RES7-x86_64
baseurl=http://10.0.100.100/yumRepos/RES7-x86_64
gpgcheck=0

[rh7-cd]
name=rh7-cd
baseurl=http://10.0.100.100/rh/{{ ansible_distribution_version }}
gpgcheck=0

[RES7-epel-x86_64]
name=RES7-epel-x86_64
baseurl=http://10.0.100.100/yumRepos/RES7-epel-x86_64
gpgcheck=0
